@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1724593969074') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shang:before {
  content: "\e606";
}

.icon-xuanzhuan:before {
  content: "\e680";
}

