name: Web

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: flutter pub get
      - run: flutter test
      - run: flutter build web